<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>read</title>
</head>
<body>

    <form action="http://localhost:8080/">
        <button>Create New user</button>
    </form>

    <br>

    <table border="1">
        <% for(let res of mainRes){ %>
            <tr>
                <td><%=res.name%></td> 
                <td><%=res.education%></td>
                <td><%=res.age%></td>
                <td>
                    <form action="./read/<%= res._id %>/edit" method="get">
                        <button>Edit</button>
                    </form>
                </td>
                <td>
                    <form action="/read/<%= res.id%>?_method=DELETE" method="post">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <%  } %>
    </table>

    
</body>
</html>


